@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
.container-nav {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}
.navtabs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px 20px;
  position: relative;
}
a {
  text-decoration: none;
}
.navtab {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
}
.navtab:hover {
  color: #007bff;
}
.navtab.active {
  color: #007bff;
  font-weight: 600;
}
/* slider-section */
.swiper-a {
  position: relative;
  height: 100%;
}

.swiper-a {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 800px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}